body {
text-align: center;
font-size: 12px;
}


h1 {
 color:#f00;
 font-size: 30px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

}

h2 {

 font-size: 26px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;


}

h3 {

 font-size: 22px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;


}

h4 {
 color:#f00;
 font-size: 18px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;


}

h5 {
 color:#0000ff;
 font-size: 14px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;


}

label {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    vertical-align: top;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    padding: 5px;
}

table {
    table-layout: auto;
    font-size: 14px;
}

th {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th, td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  
}

/* nav {
 display: block;
 margin: auto;
 width: 100%;
 text-align: center;
} */


#Elements:hover {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    background-color: chocolate;
}

#montext{
    color:#00ff00;

}